@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box; /* 元素的宽度和高度包含内边距和边框 */
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;

  /* Tailwind CSS 样式类 */
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}
